@font-face {
    font-family: 'AnimeAce';
    src: url('./Anime Ace/Anime Ace.ttf') format('truetype');
}

body,
html {
    width: 100%;
    margin: 0;
    font-family: 'AnimeAce', sans-serif;
}

* {
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    height: 100px;
    background-color: #FF7400;
}

.search {
    width: 40%;
    height: 50%;
    margin: 20px;
    border: 2px solid #009999;
    border-radius: 20px;
}

.login {
    text-decoration: none;
    color: #000000;
}

.login:hover {
    color: #009999;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #FF7400;
}

.container {
    display: flex;
}

.sidebar {
    background-color: #009999;
    width: 20%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-right: 1px solid black;

}

.logo {
    color: #000000;
    text-decoration: none;
}

.logo:hover {
    color: #009999;
}

h1 {
    margin: 0px;
}

.footerHref {
    text-decoration: none;
    color: #000000;
    margin: 10px;
}

.footerHref:hover {
    color: #009999;
}

.hrefList {
    list-style-type: none;
    margin-bottom: 75px;
}

.hrefList>li {
    margin: 30px 10px;
}

.hrefList>li>a {
    text-decoration: none;
    color: #FF7400;
}

ul>li>a:hover {
    color: #000000;
}

.content {
    background-color: #009999;
    width: 80%;
    height: 800px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}

.cardRow {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30%;
    align-items: center;
    justify-content:space-around;
}

.card {
    width: 30%;
    height: 90%;
    border: 3px solid #FF7400;
    border-radius: 20px;
    padding: 20px;
}

.pagination {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: end;
}

.pagginationButton {
    text-decoration: none;
    color:#FF7400;
    margin: 20px;
}